<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="logo"> 
    <span>
    <div id="corgi-header" class="header">
        <label for="upload-input" id="cute-header" class="custom-file-upload-header" src="/images/logo.png"></label>
        <input id="upload-input" type="file" name="uploads[]"></br>
    </div>
    </span>
  </div>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active"></div>
        </div>
    
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
 
  <div id="content">
    <div id="corgi" class="start"></div>
      <label for="upload-input" id="cute" class="custom-file-upload" src="/images/corgi.gif"></label>
      <input id="upload-input" type="file" name="uploads[]"></br>
    </div>
    <canvas id ="canvas"></canvas>
  </div>

  <audio id="audio" controls></audio>

  <script src="javascripts/upload.js"></script>
</body>
</html>
